<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>vs IA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        *{
            /* margin: 0 auto; */
            text-align: center;
        }
        img{
            width: 165px;
            height: 165px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Jogando vs IA</h1>
    <hr>
    <div class="jogador">
        <hr>
        <h4>Escola uma opção:</h4>
            <a class="opcao" id="0" href="#">
                <img src="..//public/img/1.png" alt="pedra" title="pedra">
            </a>
            <a class="opcao" id="1" href="#">
                <img src="..//public/img/2.png" alt="papel" title="papel">
            </a>
            <a class="opcao" id="2" href="#">
                <img src="..//public/img/3.png" alt="tesoura" title="tesoura">
            </a>
        </ul>
    </div>

    <div class="jogador">
        <hr>
        Escolha do Computador:
        <p id="escolhaIA"></p>
    </div>
    <div class="resultado">
        Resultado:
        <hr>
        <p id="resultado"></p>
    </div>
</body>

<script>

    $('.opcao').click(function(){
        var escolhaJogador = this.id
        $.ajax({
            url: '/random',
            method : 'POST',
            data: {
                a: escolhaJogador,
                
            },
            success: function( resposta ) {

                $( "#escolhaIA" ).html( '<img src="..//public/img/'+ (resposta.opt+1) + '.png">');
                $( "#resultado" ).html( "<strong>" + resposta.resultado + "</strong>" );

            }
        });
    })
</script>
</html>
